server:
   max-http-header-size: 10000
   port: 8504
   servlet:
    context-path: /smt-jbpm
   
jdb:
  orm:
    filepath: jdb-orm.conf.xml
    data-source-close-method-name: close
    
spring:
  datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        url: jdbc:sqlserver://192.168.1.111:1433;DatabaseName=SMT_ALL
        username: sa
        password: 123_abc
  application: 
      name: smt-jbpm

smt:
  parent:
    code:
      filter:
        cors:
          access-control-allow-methods: GET,POST,PUT,DELETE
          access-control-allow-headers: Origin, X-Requested-With, Content-Type, Accept, _log, token
          access-control-max-age: 1800
        log:
          ignore-url-patterns:
          - /process/dictionary

# 指定该服务要注册进指定url的服务注册中心  
eureka:
  client:
    service-url:
      defaultZone: http://192.168.1.252:8501/eureka/
